/*
!.*
.DS_Store
.CFUserTextEncoding
.drush/
.gem
.rvm
.irb-history
.Trash
.bzr.log
.vagrant.d/
.bash_history
.bash_profile
.ctrlp_cache/
.gnupg/
.gpg-agent-info
.mysql_history
.npm/
.ssh/
.subversion
.viminfo
